# Problem 14: Kaggle ML/DS Survey

_Version 2.5_


**Pro-tips.** If your program behavior seem strange, try resetting the kernel and rerunning everything. If you mess up this notebook or just want to start from scratch, save copies of all your partial responses and use `Actions` $\rightarrow$ `Reset Assignment` to get a fresh, original copy of this notebook. (_Resetting will wipe out any answers you've written so far, so be sure to stash those somewhere safe if you intend to keep or reuse them!_)

In this problem, you'll be working with a subset of the Kaggle Machine Learning & Data Science Survey 2018 dataset. You are provided with the responses collected to the survey questions in the form of a csv. The survey dataset in the form of responses to Multiple Choice Questions (MCQs).

You are expected to clean this dataset, which is quite messy, and **recreate the questionnaire** from this dataset, i.e., the questions and the multiple choices against each question are to be extracted from the csv file. Read on for more details.

> (The whole dataset, if you're interested as data science/analytics students and practitioners, can be found here : https://www.kaggle.com/kaggle/kaggle-survey-2018)

Let's first look at the data in the CSV. Run the below cell to load the survey response dataset.

In [1]:
import pandas as pd
data = pd.read_csv("./resource/asnlib/publicdata/problem1.csv", dtype="unicode")
data.head(5)

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q9,Q10,Q12_MULTIPLE_CHOICE,...,Q31_Part_7,Q31_Part_8,Q31_Part_9,Q31_Part_10,Q31_Part_11,Q31_Part_12,Q31_OTHER_TEXT,Q32,Q32_OTHER,Q48
0,What is your gender? - Selected Choice,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education ...,Which best describes your undergraduate major?...,Select the title most similar to your current ...,In what industry is your current employer/cont...,What is your current yearly compensation (appr...,Does your current employer incorporate machine...,What is the primary tool that you use at work ...,...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,What is the type of data that you currently in...,What is the type of data that you currently in...,"Do you consider ML models to be ""black boxes"" ..."
1,Female,45-49,United States of America,Doctoral degree,Other,Consultant,Other,NaN,I do not know,"Cloud-based data software & APIs (AWS, GCP, Az...",...,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,-1,NaN
2,Male,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,Manufacturing/Fabrication,"10-20,000",No (we do not use ML methods),"Basic statistical software (Microsoft Excel, G...",...,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,-1,NaN
3,Female,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,I am a student,"0-10,000",I do not know,Local or hosted development environments (RStu...,...,NaN,NaN,Text Data,Time Series Data,NaN,NaN,-1,Time Series Data,-1,I am confident that I can explain the outputs ...
4,Male,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,NaN,NaN,NaN,Local or hosted development environments (RStu...,...,NaN,Tabular Data,Text Data,Time Series Data,NaN,NaN,-1,Numerical Data,-1,"Yes, most ML models are ""black boxes"""

There are a total of 144 columns in the dataset. Observe the following features of its structure:

- The question number appears as column headings, e.g., `Q1`, `Q2`, and so on.
- The first row is the text of question itself, as it appeared in the survey.
- Each one of the remaining rows is someone's response to the survey.
- For many questions in the dataset, the responses are stored across multiple columns, where each column represents a choice offered in the MCQ. For example, `Q13` has 15 different choices and is stored across 15 columns, each with the column name `Q13_Part_1`, `Q13_Part_2`,.. upto `Q13_Part_15`.

In [2]:
data.isna().sum()

Q1                    0
Q2                    0
Q3                    0
Q4                    9
Q5                   89
                  ...
Q31_Part_12       13764
Q31_OTHER_TEXT        0
Q32                2951
Q32_OTHER             0
Q48                1533
Length: 144, dtype: int64

**Exercise 0** (ungraded): Run the below code to store the first row containing the questions along with the column names into another dataframe `data_copy` so you can work with it later. We also drop this row of questions from `data` so that the dataframe only contains responses.

In [3]:
print ("Shape of initial dataframe ==>",data.shape)
data_copy = data[0:1].copy()

data = data[1:]
print (data.shape)

Shape of initial dataframe ==> (14054, 144)
(14053, 144)

In [4]:
data_copy

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q9,Q10,Q12_MULTIPLE_CHOICE,...,Q31_Part_7,Q31_Part_8,Q31_Part_9,Q31_Part_10,Q31_Part_11,Q31_Part_12,Q31_OTHER_TEXT,Q32,Q32_OTHER,Q48
0,What is your gender? - Selected Choice,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education ...,Which best describes your undergraduate major?...,Select the title most similar to your current ...,In what industry is your current employer/cont...,What is your current yearly compensation (appr...,Does your current employer incorporate machine...,What is the primary tool that you use at work ...,...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,Which types of data do you currently interact ...,What is the type of data that you currently in...,What is the type of data that you currently in...,"Do you consider ML models to be ""black boxes"" ..."

**Exercise 1** (1 point). Several of the survey questions offered the choice, `Other`. These are encoded in the **column names**. For instance, Question 31 has 12 parts and an "other" option (`Q31_OTHER_TEXT`), as does Question 32 (`Q32_OTHER`). Remove these columns from the `data` dataframe. (That is, overwrite `data` with a version of itself omitting columns that contain the substring `OTHER`.)

> **Note.** There are also non-split questions having an option named `Other`. For instance, see `Q5` in row 1 or `Q6` in row 2. Do **not** remove these columns.

In [5]:
def ex1__v0(df):
    drop_cols = df.columns[df.columns.str.contains('other', case=False)]
    return df.drop(columns=drop_cols)

def ex1__v1(df):
    return df.drop(list(df.filter(regex='OTHER')), axis=1)

data = ex1__v0(data)
data.head(5)

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q9,Q10,Q12_MULTIPLE_CHOICE,...,Q31_Part_5,Q31_Part_6,Q31_Part_7,Q31_Part_8,Q31_Part_9,Q31_Part_10,Q31_Part_11,Q31_Part_12,Q32,Q48
1,Female,45-49,United States of America,Doctoral degree,Other,Consultant,Other,NaN,I do not know,"Cloud-based data software & APIs (AWS, GCP, Az...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,Manufacturing/Fabrication,"10-20,000",No (we do not use ML methods),"Basic statistical software (Microsoft Excel, G...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Female,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,I am a student,"0-10,000",I do not know,Local or hosted development environments (RStu...,...,NaN,Numerical Data,NaN,NaN,Text Data,Time Series Data,NaN,NaN,Time Series Data,I am confident that I can explain the outputs ...
4,Male,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,NaN,NaN,NaN,Local or hosted development environments (RStu...,...,NaN,Numerical Data,NaN,Tabular Data,Text Data,Time Series Data,NaN,NaN,Numerical Data,"Yes, most ML models are ""black boxes"""
5,Male,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,I am a student,"0-10,000",I do not know,"Advanced statistical software (SPSS, SAS, etc.)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I am confident that I can understand and expla...

In [6]:
# Test cell : `exercise1` (exposed)

assert data.shape[0]==14053,"Incorrect number of rows in the dataframe!"

if data.shape[1]!=138:
    how_many = "few" if data.shape[1]<138 else "many"
    
    
    
    assert data.shape[1]==138,f"Too {how_many} columns in the dataframe!"
print("Exposed tests passed! \n Note that you will need to hit 'submit' for the autograder to run the hidden tests and award you points. The exposed tests will help you debug, but they do not guarantee that your solution is accurate.")

Exposed tests passed!
 Note that you will need to hit 'submit' for the autograder to run the hidden tests and award you points. The exposed tests will help you debug, but they do not guarantee that your solution is accurate.

In [7]:
# Test cell : `exercise1` (hidden)

print("Checking the columns in your dataframe..")

###
### AUTOGRADER TEST - DO NOT REMOVE
###

Checking the columns in your dataframe..

**Exercise 2** (3 points) . Create a dictionary `mapping` to store the information of split questions such that:

Key : question number where the responses to a single question are stored across a number of columns.<br>Value : list of all columns corresponding to that question.

Sample output:

```
mapping =
{
 'Q13': ['Q13_Part_1', 'Q13_Part_2',...],

'Q15': ['Q15_Part_1', 'Q15_Part_2', 'Q15_Part_3', 'Q15_Part_4', 'Q15_Part_5', 'Q15_Part_6', 'Q15_Part_7'], 
 
 
 ..
 }
```
Hint : You may notice patterns in the columns names of questions split across columns. Using df.filter() is one way to capture or match such patterns. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html

In [8]:
data.filter(regex='_Part_').head(5)

,Q13_Part_1,Q13_Part_2,Q13_Part_3,Q13_Part_4,Q13_Part_5,Q13_Part_6,Q13_Part_7,Q13_Part_8,Q13_Part_9,Q13_Part_10,...,Q31_Part_3,Q31_Part_4,Q31_Part_5,Q31_Part_6,Q31_Part_7,Q31_Part_8,Q31_Part_9,Q31_Part_10,Q31_Part_11,Q31_Part_12
1,Jupyter/IPython,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,MATLAB,NaN,NaN,NaN,...,NaN,NaN,NaN,Numerical Data,NaN,NaN,Text Data,Time Series Data,NaN,NaN
4,Jupyter/IPython,RStudio,PyCharm,NaN,NaN,NaN,NaN,Visual Studio,NaN,NaN,...,NaN,Geospatial Data,NaN,Numerical Data,NaN,Tabular Data,Text Data,Time Series Data,NaN,NaN
5,NaN,RStudio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
values = data.filter(regex='_Part_')
keys = set(values.columns.str.replace('_Part.*', ''))
mapping = {}
for q in keys:
    mapping[q] = list(values.filter(regex=q, axis=1))
mapping

{'Q16': ['Q16_Part_1',
  'Q16_Part_2',
  'Q16_Part_3',
  'Q16_Part_4',
  'Q16_Part_5',
  'Q16_Part_6',
  'Q16_Part_7',
  'Q16_Part_8',
  'Q16_Part_9',
  'Q16_Part_10',
  'Q16_Part_11',
  'Q16_Part_12',
  'Q16_Part_13',
  'Q16_Part_14',
  'Q16_Part_15',
  'Q16_Part_16',
  'Q16_Part_17',
  'Q16_Part_18'],
 'Q19': ['Q19_Part_1',
  'Q19_Part_2',
  'Q19_Part_3',
  'Q19_Part_4',
  'Q19_Part_5',
  'Q19_Part_6',
  'Q19_Part_7',
  'Q19_Part_8',
  'Q19_Part_9',
  'Q19_Part_10',
  'Q19_Part_11',
  'Q19_Part_12',
  'Q19_Part_13',
  'Q19_Part_14',
  'Q19_Part_15',
  'Q19_Part_16',
  'Q19_Part_17',
  'Q19_Part_18',
  'Q19_Part_19'],
 'Q15': ['Q15_Part_1',
  'Q15_Part_2',
  'Q15_Part_3',
  'Q15_Part_4',
  'Q15_Part_5',
  'Q15_Part_6',
  'Q15_Part_7'],
 'Q31': ['Q31_Part_1',
  'Q31_Part_2',
  'Q31_Part_3',
  'Q31_Part_4',
  'Q31_Part_5',
  'Q31_Part_6',
  'Q31_Part_7',
  'Q31_Part_8',
  'Q31_Part_9',
  'Q31_Part_10',
  'Q31_Part_11',
  'Q31_Part_12'],
 'Q13': ['Q13_Part_1',
  'Q13_Part_2',
  'Q13_Part_3',
  'Q13_Part_4',
  'Q13_Part_5',
  'Q13_Part_6',
  'Q13_Part_7',
  'Q13_Part_8',
  'Q13_Part_9',
  'Q13_Part_10',
  'Q13_Part_11',
  'Q13_Part_12',
  'Q13_Part_13',
  'Q13_Part_14',
  'Q13_Part_15'],
 'Q27': ['Q27_Part_1',
  'Q27_Part_2',
  'Q27_Part_3',
  'Q27_Part_4',
  'Q27_Part_5',
  'Q27_Part_6',
  'Q27_Part_7',
  'Q27_Part_8',
  'Q27_Part_9',
  'Q27_Part_10',
  'Q27_Part_11',
  'Q27_Part_12',
  'Q27_Part_13',
  'Q27_Part_14',
  'Q27_Part_15',
  'Q27_Part_16',
  'Q27_Part_17',
  'Q27_Part_18',
  'Q27_Part_19',
  'Q27_Part_20'],
 'Q29': ['Q29_Part_1',
  'Q29_Part_2',
  'Q29_Part_3',
  'Q29_Part_4',
  'Q29_Part_5',
  'Q29_Part_6',
  'Q29_Part_7',
  'Q29_Part_8',
  'Q29_Part_9',
  'Q29_Part_10',
  'Q29_Part_11',
  'Q29_Part_12',
  'Q29_Part_13',
  'Q29_Part_14',
  'Q29_Part_15',
  'Q29_Part_16',
  'Q29_Part_17',
  'Q29_Part_18',
  'Q29_Part_19',
  'Q29_Part_20',
  'Q29_Part_21',
  'Q29_Part_22',
  'Q29_Part_23',
  'Q29_Part_24',
  'Q29_Part_25',
  'Q29_Part_26',
  'Q29_Part_27',
  'Q29_Part_28']}

In [11]:
def ex2__v0():
    values = data.filter(regex='_Part_')
    keys = set(values.columns.str.replace('_Part.*', ''))
    mapping = {}
    for q in keys:
        mapping[q] = list(values.filter(regex=q, axis=1))
    return mapping

# Method 1: compact version of the above
def ex2__v1():
    import re
    question_numbers = set([re.findall(r'^Q\d+',col_each)[0] for col_each in list(data.filter(regex='Part'))])
    return {colname:list(data.filter(regex=colname)) for colname in question_numbers}

mapping = ex2__v0()

In [12]:
# Test cell : `exercise2` (hidden)

###
### AUTOGRADER TEST - DO NOT REMOVE
###

**Exercise 3** (4 points). Here is the final cleaning step! Complete the function, `reduce_mapping()`, below, to return a mapping `q_mapping` of each question to its possible choices across **all** questions (and not just the ones you extracted in Exercise 2.)

We have provided a list of values to be removed from the values you collect from the dataframe in `na_list`. The items in this list should not appear among the choices.

You will find the questions dataframe `data_copy` from `Exercise 0` useful for this task. Make sure you "trim the questions" to conform to the format shown in the example fragment below:
```python
q_mapping = 
{
 'What is your gender?': ['Female',
                          'Male',
                          'Prefer not to say',
                          'Prefer to self-describe'],
 'What machine learning frameworks have you used in the past 5 years? (Select all that apply)': ['Scikit-Learn',
                                                                                                 'TensorFlow',
                                                                                                 'Keras',
                                                                                                 'PyTorch',
                                                                                                 'Spark MLlib',
                                                                                                 'H20',
                                                                                                 'Fastai',
                                                                                                 'Mxnet',
                                                                                                 'Caret',
                                                                                                 'Xgboost',
                                                                                                 'mlr',
                                                                                                 'Prophet',
                                                                                                 'randomForest',
                                                                                                 'lightgbm',
                                                                                                 'catboost',
                                                                                                 'CNTK',
                                                                                                 'Caffe'],
                                                                                                
 'Select the title most similar to your current role (or most recent title if retired):' : [....,
                                                                                            ....],
 ... etc....
 }
 ```
For example, the text for question `Q1` in the original dataframe is "`What is your gender? - Selected Choice`". In the final output, observe that the corresponding key for `q_mapping` has the substring " ` - Selected Choice`" removed. As another example, the text of the first option of question 19 (`Q19_Part1`) is, "`What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Scikit-Learn`". In the final output, " ` - Selected Choice - `" is removed from the key and "`Scikit-Learn`" appears as a possible value.

> **Hint.** One way to solve this problem is to figure out a way to trim the questions to the required format, do it for the columns (values) you mapped in Exercise 2, and then for the remaining columns in the dataframe.

Note : You do not need to spend effort on **re-arranging or introducing** punctuations to questions. Any question mark/colon appearing in a question can (and should) be included in your key as it originally appeared.

In [13]:
def reduce_data(mapping):
    
    # Items in na_list must not appear among the choices
    na_list = ['Other','None','nan']
    q_mapping = {}
    ###
    for q,columns in mapping.items():
        question = data_copy[columns[0]][0].split(' -')[0]
        q_mapping[question]=[each for each in list(pd.unique(data[columns].values.ravel('K'))) if str(each) not in na_list]
        data.drop(columns,inplace=True,axis=1)
     
    for col in list(data):
        question = data_copy[col][0].split(' -')[0]
        q_mapping[question] = [each for each in list(data[col].unique()) if str(each) not in na_list]
    return q_mapping

q_mapping = reduce_data(mapping)

In [14]:
# Test cell : `exercise3` (exposed)
import itertools
assert isinstance(q_mapping,dict),"`q_mapping` is not a dict"
assert all(non_value not in list(itertools.chain(*q_mapping.values())) for non_value in ['Other','None','nan']) ,"Invalid choices found in q_mapping!"
print("Exposed tests passed! \n Note that you will need to hit 'submit' for the autograder to run the hidden tests and award you points. The exposed tests will help you debug, but they do not guarantee that your solution is accurate.")

Exposed tests passed!
 Note that you will need to hit 'submit' for the autograder to run the hidden tests and award you points. The exposed tests will help you debug, but they do not guarantee that your solution is accurate.

In [15]:
# Test cell : `exercise3` (hidden)

###
### AUTOGRADER TEST - DO NOT REMOVE
###

Take a look at how the data you extracted looks! Run the below code.

In [16]:
import collections
final_data = collections.OrderedDict(sorted(q_mapping.items()))
display(final_data)

OrderedDict([('Approximately what percent of your time at work or school is spent actively coding?',
              ['0% of my time',
               '1% to 25% of my time',
               '75% to 99% of my time',
               '50% to 74% of my time',
               '25% to 49% of my time',
               '100% of my time']),
             ('Do you consider ML models to be "black boxes" with outputs that are difficult or impossible to explain?',
              ['I am confident that I can explain the outputs of most if not all ML models',
               'Yes, most ML models are "black boxes"',
               'I am confident that I can understand and explain the outputs of many but not all ML models',
               'I view ML models as "black boxes" but I am confident that experts are able to explain model outputs',
               'I do not know; I have no opinion on the matter']),
             ('Do you consider yourself to be a data scientist?',
              ['Maybe',
               'Definitely not',
               'Definitely yes',
               'Probably yes',
               'Probably not']),
             ('Does your current employer incorporate machine learning methods into their business?',
              ['I do not know',
               'No (we do not use ML methods)',
               'We are exploring ML methods (and may one day put a model into production)',
               'We recently started using ML methods (i.e., models in production for less than 2 years)',
               'We have well established ML methods (i.e., models in production for more than 2 years)',
               'We use ML methods for generating insights (but do not put working models into production)']),
             ('For how many years have you used machine learning methods (at work or in school)?',
              ['I have never studied machine learning but plan to learn in the future',
               '< 1 year',
               '4-5 years',
               '2-3 years',
               '1-2 years',
               '5-10 years',
               '3-4 years',
               'I have never studied machine learning and I do not plan to',
               '20+ years',
               '10-15 years']),
             ('How long have you been writing code to analyze data?',
              ['I have never written code but I want to learn',
               '5-10 years',
               '3-5 years',
               '< 1 year',
               '1-2 years',
               '10-20 years',
               '20-30 years',
               '30-40 years',
               'I have never written code and I do not want to learn',
               '40+ years']),
             ('In what industry is your current employer/contract (or your most recent employer if retired)?',
              ['Manufacturing/Fabrication',
               'I am a student',
               'Computers/Technology',
               'Academics/Education',
               'Online Service/Internet-based Services',
               'Medical/Pharmaceutical',
               'Energy/Mining',
               'Retail/Sales',
               'Military/Security/Defense',
               'Insurance/Risk Assessment',
               'Hospitality/Entertainment/Sports',
               'Broadcasting/Communications',
               'Accounting/Finance',
               'Shipping/Transportation',
               'Online Business/Internet-based Sales',
               'Non-profit/Service',
               'Government/Public Service',
               'Marketing/CRM']),
             ('In which country do you currently reside?',
              ['United States of America',
               'Indonesia',
               'India',
               'Colombia',
               'Chile',
               'Turkey',
               'Hungary',
               'Ireland',
               'France',
               'Argentina',
               'Japan',
               'Nigeria',
               'Spain',
               'Iran, Islamic Republic of...',
               'United Kingdom of Great Britain and Northern Ireland',
               'Poland',
               'Kenya',
               'Denmark',
               'Netherlands',
               'China',
               'Sweden',
               'Ukraine',
               'Canada',
               'Australia',
               'Russia',
               'Austria',
               'Italy',
               'Mexico',
               'Germany',
               'I do not wish to disclose my location',
               'Singapore',
               'Brazil',
               'Switzerland',
               'South Africa',
               'South Korea',
               'Malaysia',
               'Hong Kong (S.A.R.)',
               'Egypt',
               'Tunisia',
               'Portugal',
               'Thailand',
               'Morocco',
               'Pakistan',
               'Czech Republic',
               'Romania',
               'Israel',
               'Philippines',
               'Bangladesh',
               'Belarus',
               'Viet Nam',
               'Belgium',
               'New Zealand',
               'Norway',
               'Finland',
               'Greece',
               'Peru',
               'Republic of Korea']),
             ('Of the choices that you selected in the previous question, which ML library have you used the most?',
              ['Scikit-Learn',
               'Keras',
               'TensorFlow',
               'Caret',
               'Spark MLlib',
               'Caffe',
               'mlr',
               'PyTorch',
               'randomForest',
               'H20',
               'Xgboost',
               'lightgbm',
               'Fastai',
               'CNTK',
               'catboost',
               'Prophet',
               'Mxnet']),
             ('Select the title most similar to your current role (or most recent title if retired):',
              ['Consultant',
               'Data Scientist',
               'Not employed',
               'Data Analyst',
               'Software Engineer',
               'Student',
               'Research Assistant',
               'Chief Officer',
               'Manager',
               'Research Scientist',
               'Business Analyst',
               'Data Engineer',
               'Developer Advocate',
               'Marketing Analyst',
               'Product/Project Manager',
               'Principal Investigator',
               'Salesperson',
               'DBA/Database Engineer',
               'Statistician',
               'Data Journalist']),
             ('What is the highest level of formal education that you have attained or plan to attain within the next 2 years?',
              ['Doctoral degree',
               'Bachelor’s degree',
               'Master’s degree',
               'Professional degree',
               'Some college/university study without earning a bachelor’s degree',
               'I prefer not to answer',
               'No formal education past high school']),
             ('What is the primary tool that you use at work or school to analyze data? (include text response)',
              ['Cloud-based data software & APIs (AWS, GCP, Azure, etc.)',
               'Basic statistical software (Microsoft Excel, Google Sheets, etc.)',
               'Local or hosted development environments (RStudio, JupyterLab, etc.)',
               'Advanced statistical software (SPSS, SAS, etc.)',
               'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)']),
             ('What is the type of data that you currently interact with most often at work or school?',
              ['Time Series Data',
               'Numerical Data',
               'Image Data',
               'Tabular Data',
               'Categorical Data',
               'Sensor Data',
               'Text Data',
               'Genetic Data',
               'Geospatial Data',
               'Audio Data',
               'Video Data',
               'Other Data']),
             ('What is your age (# years)?',
              ['45-49',
               '30-34',
               '35-39',
               '22-24',
               '25-29',
               '18-21',
               '40-44',
               '55-59',
               '60-69',
               '50-54',
               '80+',
               '70-79']),
             ('What is your current yearly compensation (approximate $USD)?',
              ['10-20,000',
               '0-10,000',
               'I do not wish to disclose my approximate yearly compensation',
               '20-30,000',
               '125-150,000',
               '30-40,000',
               '50-60,000',
               '100-125,000',
               '90-100,000',
               '70-80,000',
               '80-90,000',
               '60-70,000',
               '400-500,000',
               '40-50,000',
               '150-200,000',
               '500,000+',
               '300-400,000',
               '200-250,000',
               '250-300,000']),
             ('What is your gender?',
              ['Female',
               'Male',
               'Prefer not to say',
               'Prefer to self-describe']),
             ('What machine learning frameworks have you used in the past 5 years? (Select all that apply)',
              ['Scikit-Learn',
               'TensorFlow',
               'Keras',
               'PyTorch',
               'Spark MLlib',
               'H20',
               'Fastai',
               'Mxnet',
               'Caret',
               'Xgboost',
               'mlr',
               'Prophet',
               'randomForest',
               'lightgbm',
               'catboost',
               'CNTK',
               'Caffe']),
             ('What programming language would you recommend an aspiring data scientist to learn first?',
              ['Python',
               'SQL',
               'R',
               'Scala',
               'Java',
               'MATLAB',
               'C++',
               'SAS',
               'Javascript',
               'Go',
               'VBA']),
             ('What programming languages do you use on a regular basis? (Select all that apply)',
              ['Python',
               'R',
               'SQL',
               'Bash',
               'Java',
               'Javascript/Typescript',
               'Visual Basic/VBA',
               'C/C++',
               'MATLAB',
               'Scala',
               'Julia',
               'Go',
               'C#/.NET',
               'PHP',
               'Ruby',
               'SAS/STATA']),
             ('What specific programming language do you use most often?',
              ['Java',
               'Python',
               'SQL',
               'Javascript/Typescript',
               'C#/.NET',
               'R',
               'MATLAB',
               'C/C++',
               'Visual Basic/VBA',
               'Bash',
               'Scala',
               'PHP',
               'SAS/STATA',
               'Ruby',
               'Go',
               'Julia']),
             ('Which best describes your undergraduate major?',
              ['Engineering (non-computer focused)',
               'Computer science (software engineering, etc.)',
               'Social sciences (anthropology, psychology, sociology, etc.)',
               'Mathematics or statistics',
               'Physics or astronomy',
               'Information technology, networking, or system administration',
               'A business discipline (accounting, economics, finance, etc.)',
               'Environmental science or geology',
               'Medical or life sciences (biology, chemistry, medicine, etc.)',
               'I never declared a major',
               'Humanities (history, literature, philosophy, etc.)',
               'Fine arts or performing arts']),
             ('Which of the following cloud computing products have you used at work or school in the last 5 years (Select all that apply)?',
              ['AWS Elastic Compute Cloud (EC2)',
               'Google Compute Engine',
               'AWS Elastic Beanstalk',
               'Google App Engine',
               'Google Kubernetes Engine',
               'AWS Lambda',
               'Google Cloud Functions',
               'AWS Batch',
               'Azure Virtual Machines',
               'Azure Container Service',
               'Azure Functions',
               'Azure Event Grid',
               'Azure Batch',
               'Azure Kubernetes Service',
               'IBM Cloud Virtual Servers',
               'IBM Cloud Container Registry',
               'IBM Cloud Kubernetes Service',
               'IBM Cloud Foundry']),
             ('Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply)',
              ['Google Cloud Platform (GCP)',
               'Amazon Web Services (AWS)',
               'Microsoft Azure',
               'IBM Cloud',
               'Alibaba Cloud',
               'I have not used any cloud providers']),
             ("Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply)",
              ['Jupyter/IPython',
               'RStudio',
               'PyCharm',
               'Visual Studio Code',
               'nteract',
               'Atom',
               'MATLAB',
               'Visual Studio',
               'Notepad++',
               'Sublime Text',
               'Vim',
               'IntelliJ',
               'Spyder']),
             ('Which of the following relational database products have you used at work or school in the last 5 years? (Select all that apply)',
              ['AWS Relational Database Service',
               'AWS Aurora',
               'Google Cloud SQL',
               'Google Cloud Spanner',
               'AWS DynamoDB',
               'Google Cloud Datastore',
               'Google Cloud Bigtable',
               'AWS SimpleDB',
               'Microsoft SQL Server',
               'MySQL',
               'PostgresSQL',
               'SQLite',
               'Oracle Database',
               'Ingres',
               'Microsoft Access',
               'NexusDB',
               'SAP IQ',
               'Google Fusion Tables',
               'Azure Database for MySQL',
               'Azure Cosmos DB',
               'Azure SQL Database',
               'Azure Database for PostgreSQL',
               'IBM Cloud Compose',
               'IBM Cloud Compose for MySQL',
               'IBM Cloud Compose for PostgreSQL',
               'IBM Cloud Db2']),
             ('Which types of data do you currently interact with most often at work or school? (Select all that apply)',
              ['Audio Data',
               'Categorical Data',
               'Genetic Data',
               'Geospatial Data',
               'Image Data',
               'Numerical Data',
               'Sensor Data',
               'Tabular Data',
               'Text Data',
               'Time Series Data',
               'Video Data',
               'Other Data'])])

Looks good! Run the below code to write it to a csv so you can look at the Questionnaire you extracted!

In [17]:
list_of_qs = []
responses=[]
for question,answers in q_mapping.items():
    list_of_qs.append(question)
    list_of_qs.extend(['']*(len(answers)-1))
    responses.extend(answers)
import pandas as pd
a = pd.DataFrame({'Questions':list_of_qs, 'Choices':responses})
a.to_csv("Questionnaire.csv",encoding='utf-8-sig',index=None)

In [18]:
#Don't forget to run this cell. You should recognize this code!

def canonicalize_tibble(X):
    var_names = sorted(X.columns)
    Y = X[var_names].copy()
    Y.sort_values(by=var_names, inplace=True)
    Y.reset_index(drop=True, inplace=True)
    return Y

def tibbles_are_equivalent (A, B):
    A_canonical = canonicalize_tibble(A)
    B_canonical = canonicalize_tibble(B)
    cmp = A_canonical.eq(B_canonical)
    return cmp.all().all()

**Exercise 4** (2 points) . Let's do some ranking of the programming languages! 

In the code cell below, we supply you with a dataframe named `ranking_data`, which is a copy of questions 6 (job title) and 17 (programming language). Using `ranking_data`, create a new dataframe, `ranking_data_summary`, that counts how many times each programming language was reported by people whose job title is `'Data Scientist'`. This new dataframe should be sorted in descending order by count.

In addition:

* Response Q6 contains the selected career fields. Filter so the results only factor in entries corresponding to *Data Scientist*
* Response Q17 contains the programming languages. You must get total counts for each language and sort in descending order. Call the column with the counts, 'counts'
* Reset the index
* Change the column name Q17 to 'Language'

In [19]:
#copies the relevant columns into a dataframe for you. Don't modify
ranking_data = data[['Q6','Q17']].copy()

ranking_data_summary = ranking_data[ranking_data['Q6'] == 'Data Scientist'].groupby(['Q17']).size().reset_index(name='counts').sort_values(['counts'],ascending=False).reset_index(drop=True).copy()
ranking_data_summary.columns = ['Language','counts'] 

ranking_data_summary #.head(5)

                 Language  counts
0                  Python    1619
1                       R     465
2                     SQL     141
3               SAS/STATA      31
4                    Java      25
5                  MATLAB      19
6                   C/C++      17
7                   Scala      16
8                 C#/.NET      11
9   Javascript/Typescript      10
10                  Other       9
11                    PHP       6
12       Visual Basic/VBA       6
13                     Go       4
14                   Bash       3
15                   Ruby       1

In [20]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

In [21]:
#visible tests

assert type(ranking_data_summary) == pd.DataFrame,\
    "Your output isn't a dataframe. Try checking the type of your output step by step."

assert ranking_data_summary.shape == (16,2), \
    "Your output shape seems wrong. Did you accidently drop columns or categories?"

assert ranking_data_summary.iloc[0,1] == 1619, \
    "Your top result has the wrong count. Did you setup your count correctly? What about your sort?"
    
    
print("Exposed tests passed! \n Note that you will need to hit 'submit' for the autograder to run the hidden tests and award you points. The exposed tests will help you debug, but they do not guarantee that your solution is accurate.")

###
### AUTOGRADER TEST - DO NOT REMOVE
###

print("\n(Passed!)")

Exposed tests passed!
 Note that you will need to hit 'submit' for the autograder to run the hidden tests and award you points. The exposed tests will help you debug, but they do not guarantee that your solution is accurate.

(Passed!)

**Fin!** You’ve reached the end of this part. Don’t forget to restart and run all cells again to make sure it’s all working when run in sequence; and make sure your work passes the submission process. Good luck!